.modal {
  z-index: 3;
  background-color: rgba(0,0,0,0.56);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

$dialog-size: 86;
$button-size: 50px;
.dialog {
  margin: (100vh - $dialog-size * 1vh) / 2 (100vw - $dialog-size * 1vw) / 2;
  width: $dialog-size * 1vw;
  height: $dialog-size * 1vh;
  background-color: white;
  position: relative;
}
.close-button {
  position: absolute;
  background-color: white;
  border: none;
  width: $button-size;
  height: $button-size;
  right: 0;
}
.close-button:hover {
  background-color: #dcdcdc;
}
textarea {
  position: absolute;
  top: $button-size;
  left: 2.5px;
  width: calc(#{$dialog-size}vw - 10px);
  height: calc(#{$dialog-size}vh - 60px);
}
p {
  position: absolute;
  left: 1em;
}
