<label>Font size</label>
<select #sizes (change)="fontwidth = +sizes.value">
  <option value="8">8x16</option>
  <option value="10">10x20</option>
  <option value="11">11x22</option>
  <option value="12">12x24</option>
  <option value="14">14x28</option>
  <option value="16" selected="selected">16x32</option>
</select>
<draw-console-display [fontwidth]="fontwidth" ></draw-console-display>
<div>
  <div class="horizontal-container">
    <label [class.border]="ModesManager['normal_mode'].active" >Normal mode - n</label>
    <label [class.border]="ModesManager['scrolling_mode'].active" >Scroll mode - m</label>
    <label [class.border]="ModesManager['boxdraw_mode'].active" >Boxdraw mode - b</label>
  </div>
  <div class="horizontal-container">
    <div class="inner-container border" >
      <label>Drawing cursor - v</label>
      <draw-console-char class="border" [char]="NormalMode.draw_chars[NormalMode.draw_char_index]"
                         [fontwidth]="16" [fg]="0" [bg]="15" ></draw-console-char>
    </div>
    <span>+</span>
    <div class="inner-container border relative">
      <label>Foreground color - c</label>
      <draw-console-char class="border" [char]="'\u2588'" [fontwidth]="16"
                         [fg]="ColorChange.fg" bg="1"></draw-console-char>
      <draw-color-changer [color_type]="'foreground'" class="color-dialog"></draw-color-changer>
    </div>
    <span>+</span>
    <div class="inner-container border relative">
      <label>Background color - x</label>
      <draw-console-char class="border" [char]="'\u2588'" [fontwidth]="16"
                         [fg]="ColorChange.bg" bg="1"></draw-console-char>
      <draw-color-changer [color_type]="'background'" class="color-dialog"></draw-color-changer>
    </div>
    <span>=</span>
    <draw-console-char class="border" [char]="NormalMode.getDrawChar()"
                       [fontwidth]="16" [fg]="ColorChange.fg" [bg]="ColorChange.bg"></draw-console-char>
  </div>
</div>

